html {
    font-size: 10px;
}

.page {
    width: 100%;
    margin: 0;
    padding: 0;

    background-color: #2f2f2f;

    font-family: 'Roboto', sans-serif;
}

.page__wrap {
    display: flex;
    flex-direction: column;

    width: 100%;

    align-items: center;
}

.header {
    position: relative;

    width: 100%;
    padding: 20px 0;

    text-align: center;

    border-bottom: 1px solid #444;
    background: -webkit-linear-gradient(bottom, #2f2f2f 0%, #2f2f2f 50%, #363636 51%, #363636 100%);
}

.header__logo {
    margin: 0;
}

.header__logo-link {
    margin-right: 2.81%;

    text-decoration: none;

    color: #fff;

    font-size: 3.6rem;
    font-weight: 300;
}

.header__logo-link span {
    padding: 3px 7px;

    color: #ff002a;
    border-radius: 15px;
    background-color: #fff;

    font-weight: 700;
}

.header__age-limit {
    position: absolute;
    top: 50%;
    left: 20px;

    width: 64px;
    height: 63px;
    margin: -31px 0 0;

    color: #fff;
    background: url('http://fs185.www.ex.ua/get/311532967835/211809942/age_limit.png') no-repeat;

    font-size: 26px;
    font-weight: 400;
    line-height: 2.5;
}

.video-player {
    width: 100%;
    height: 773px;

    background: url('http://fs186.www.ex.ua/get/311532967835/211809952/video_player.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}

.video-player__wrap {
    position: relative;

    width: 100%;
    /*width: 640px;*/
    height: 773px;
}

.video-player__watch {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 443px;
    height: 195px;
    margin: auto;
    padding: 51px 135px 51px 42px;

    color: #fff;
    border: 1px solid #ee0622;
    border-radius: 35px;
    background: -webkit-linear-gradient(bottom, #d10f18 0%, #dd0b1d 25%, #fa0228 51%, #ff002a 100%);

    font-size: 6.0rem;
    font-weight: 500;
}

.video-player__watch::after {
    position: absolute;
    top: 50%;
    right: 6%;

    width: 84px;
    height: 93px;
    margin-top: -43px;

    content: url('http://fs186.www.ex.ua/get/311532967835/211809949/video_play.png');
}

.video-player__watch:hover {
    background: #ff0000;
}

.video-player__watched {
    position: absolute;
    top: 50%;
    left: 0;

    width: 100%;
    height: 20px;
    margin: 120px auto 0;

    text-align: center;

    color: #bababa;

    font-size: 2.4rem;
    font-weight: 400;
}

.video-player__cancel {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 200px;
    margin: 170px 0 0 -100px ;
    padding: 8px 20px;

    color: #fff;
    border: 2px solid #91949a;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.4);

    font-size: 2.8rem;
    font-weight: 300;
}

.video-player__cancel:hover {
    background-color: #000;
}

.footer {
    width: 100%;

    color: #858585;
    background-color: #2f2f2f;

    font-size: 24px;
    font-weight: 300;
    line-height: 1;
}

.footer__rules {
    padding: 20px;
}

.footer__rules-checkbox {
    display: none;
}

.footer__rules-label::before {
    position: absolute;
    top: 0;
    left: -45px;

    display: block;

    width: 35px;
    height: 35px;

    content: '';
    cursor: pointer;

    background: url('http://fs185.www.ex.ua/get/311532967835/211809944/sprite_checkbox.png') -40px 0 no-repeat;
}

.footer__rules-checkbox:checked + .footer__rules-label::before {
    background-position: 0 0;
}

.footer__rules-label {
    position: relative;

    display: block;

    margin-left: 45px;
}

.footer__rules-decortext {
    text-decoration: underline;

    color: #fff;
}

.footer__copyright {
    padding: 0 20px 15px;

    line-height: 1.1;
}

.footer__copyright-text {
    margin: 0;
}
